

* {
	font-family: serif;
	margin: 0em;
	padding: 0em;
	box-sizing: border-box;
}

.banner{
	position: relative;
	width: 100%;
	height: 100vh;
	background: red;
	background: url("../pictures/mountain-crop-gradient.png");
	background-size: cover;
	background-position: bottom;

}

.banner .clouds {
	/*border: solid black 10px;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.banner .clouds img {
	/*border: solid white 10px;*/
	position: absolute;
	bottom: 0;
	max-width: 100%;
	animation: animate-clouds calc(8s * var(--i)) linear  infinite;
}

@keyframes animate-clouds {
	0% {
		transform: translateX(-100%)
	}

	100% {
		transform: translateX(100%)
	}
}

.large-header{
	position: relative;
	padding: 5em;
}

h1 {
	text-align: center;
	font-size: 4em;
}



.art img{
	width: 20em;
	float: left;
	margin: 0em;
	margin-right: 2em;
	margin-bottom: 2em;
}

.art p {
	width: 100%%;
	margin: 0em;
	font-size: 1.5em;
	margin-top: 0em;
	margin-bottom: 2em;
}

.art p span{
	font-weight: bold;
}

.art {
	/*border: solid black 10px;*/
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 3em;
}


.art .container {

	/*border: solid black 10px;*/
	width: 60%;
}

